<header>
    <na>
        <a href="/">MyStory</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Authorss</a></li>
            <h1></h1>
        </ul>
    </na>
</header>